body{
	background: linear-gradient(to left, #283048 , #859398);
	font-family:微軟正黑體;
}
.header{
	margin-top:10px;
  height:100px;
	background:white;
	border-radius:10px;
	text-align:center;
	font-size:4rem;
	line-height:100px;
	transition:font-size 1s;
	transition-timing-function: ease;
	display:flex;
	justify-content:center;
}
.header:hover{
	font-size:5rem;
}
.day{
	padding-right:3rem;
}
.contant{
	margin-top:10px;
	background:black;
	border-radius:10px;
}
.head{
	padding:15px;
	padding-bottom:25px;
	display:flex;
  justify-content: center;
	align-items: center;
}
.head img{
	border-style:solid;
	border-width:5px;
	border-color:white;
	border-radius:100%;
}
.notHead{
	display:flex;
	text-align:center;
}
.rightArea{
	width:50%;
	margin:auto;
	padding:10px;
	color:white;
}
.glyphicon{
	vertical-align: middle;
	margin-top:24px;
	margin-right:10px;
}
.me{
	width:50%;
	
	color:white;
	padding:40px;
	font-size:2em;
	font-family:sourcehansans-tc,微軟正黑體;
	border-radius:5px;
}
